.home-contents{
    margin: 20px 15px 0px 15px;
    background-color: rgb(250, 249, 249);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: Roboto,sans-serif;
    max-height:29rem;
    overflow: auto;
}
.home-header{
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 0px 15px;
    font-family: Roboto,sans-serif;
}
.text-msg{
    text-align: center;
    font-family: 'Nova Square', sans-serif;
    margin-right: 150px;

}